body {
  min-height: 200;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #ffffff;
}

section {
  padding-top: 5rem;
}

.card a {
  text-decoration: none;
  color: black;
}

.card a h3:hover {
  color: #3d3e87;
}
